---
import ThemeToggle from "./ThemeToggle.astro";
import { BASE_URL } from "@/constants";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { languages } from "@i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
type NavElement = {
  href: string;
  text: string;
};

const NAV_ELEMENTS: NavElement[] = [
  {
    href: `${BASE_URL}/${lang}`,
    text: t("nav.home") as string,
  },
  {
    href: `${BASE_URL}#projects`,
    text: t("nav.projects") as string,
  },
  {
    href: "#experience",
    text: t("nav.experience") as string,
  },
  {
    href: "#contact",
    text: t("nav.contact") as string,
  },
];
---

<header
  class="sticky top-0 z-50 my-6 flex w-full justify-between bg-inherit py-6"
>
  <a href={`${BASE_URL}/${lang}`}>
    <span
      class="inline-block cursor-pointer bg-gradient-to-r from-indigo-500 to-indigo-400 bg-clip-text text-center text-xl font-bold text-transparent"
    >
      ehdlg
    </span>
  </a>
  <nav>
    <ul class="flex items-center gap-x-8">
      {
        NAV_ELEMENTS.map((element) => (
          <li class="text-normal text-neutral-600 transition duration-150 ease-in hover:text-neutral-800 focus:text-neutral-800 dark:text-neutral-400 hover:dark:text-neutral-200 dark:focus:text-neutral-200">
            <a href={element.href}>{element.text}</a>
          </li>
        ))
      }

      {
        Object.entries(languages).map(([language, icon]) => {
          if (lang === language) return;

          return (
            <li>
              <a href={`/${language}`}>{icon}</a>
            </li>
          );
        })
      }
      <li>
        <ThemeToggle />
      </li>
    </ul>
  </nav>
</header>

<script>
  import { ELEMENT_ID, THEMES } from "@/constants";
  const toggleDark = document.getElementById(ELEMENT_ID.THEME);
  const toggleKnob = document.getElementById(ELEMENT_ID.KNOB);

  toggleDark?.addEventListener("click", () => {
    toggleKnob?.classList.toggle("translate-x-7");
    document.documentElement.classList.toggle("dark");

    const isDark = document.documentElement.classList.contains("dark");

    localStorage.setItem("theme", isDark ? THEMES.DARK : THEMES.LIGHT);
  });
</script>
