---
import ProjectDetails from "@components/ProjectDetails.astro";
import GitHubIcon from "@/icons/GitHub.astro";
import { repositories as repositoriesLink } from "@data/links.json";
import { useTranslations, getLangFromUrl } from "@/i18n/utils";
import { projects as cvProject } from "@data/cv.json";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = t("projects.projects") as typeof cvProject;
---

<section id="projects">
  <div class="mb-4 flex items-center justify-between">
    <h2 class="text-2xl font-bold text-neutral-700 dark:text-neutral-300">
      Proyectos
    </h2>
    <a
      href={repositoriesLink}
      target="_blank"
      class="flex items-center justify-center gap-x-2 text-neutral-600 transition duration-150 ease-in hover:text-neutral-900 dark:text-neutral-400 hover:dark:text-neutral-200"
      >{t("projects.more-projects")} <GitHubIcon class="size-4" />
    </a>
  </div>

  <article
    class="grid auto-cols-fr grid-cols-1 place-content-center gap-4 md:grid-cols-2"
  >
    {
      projects.map(({ name, description, keywords, url, finished }) => (
        <ProjectDetails
          title={name}
          description={description}
          stack={keywords}
          url={url}
          finished={finished}
        />
      ))
    }
  </article>
</section>
