---
export interface Props {
  type: "text" | "email";
  name: string;
  placeholder: string;
}

const { type, name, placeholder } = Astro.props;
const id = `contact-${name}`;
---

<label for={id} class="w-full">
  <span class="text-normal text-neutral-600 dark:text-neutral-400"
    >{placeholder}</span
  >
  <input
    id={id}
    type={type}
    name={name}
    class="text-normal w-full rounded border border-neutral-200 bg-inherit p-4 text-neutral-800 outline-none drop-shadow-sm transition duration-150 ease-in placeholder:text-neutral-500 focus:border-indigo-400 sm:text-lg md:text-xl dark:border-neutral-800 dark:text-neutral-200"
    required
  />
</label>
